{% extends 'main.html' %} {% block content %}

<form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div
    style="
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      height: 80vh;
      align-items: center;
    "
  >
    <label style="padding: 25px; font-size: 25px">Select file to upload</label>
    <div>{{form.file}}</div>

    <input
      type="submit"
      value="Upload"
      style="
        width: 30%;
        margin-top: 25px;
        color: floralwhite;
        background-color: navy;
        padding: 5px;
        border-radius: 10px;
        font-size: 20px;
      "
    />
  </div>
  <p>{{message}}</p>
</form>
{% endblock content %}
