<nav
  style="
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-color: blue;
    font-size: 20px;
    color: white;
    justify-content: center;
    gap: 20px;
  "
>
  {% if request.user.is_authenticated %}
  <a class="text-sm-center nav-link" href="{% url 'index' %}">Home</a>
  <a class="text-sm-center nav-link" href="{% url 'upload' %}">Upload PDF</a>
  <a class="text-sm-center nav-link" href="{% url 'account_logout' %}"
    >Logout</a
  >
  {% else %}
  <a
    class="flex-sm-fill text-sm-center nav-link"
    href="{% url 'account_login' %}"
    >Login/Sign Up</a
  >
  {% endif %}
</nav>
